# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
.idea
.eslintcache

# npm/js ignores
tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Various temp files
*.swp

# Binaries
/bin/

# Built JS
dist/
