name: Run Tests

on:
  workflow_call:

jobs:
  server_test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up go
        uses: actions/setup-go@v3
        with:
          go-version-file: './go.mod'
          cache: true
      - name: Run go tests
        run: scripts/test-go.sh
